<section>
    <div class="container">
        <h1>Success- ja Warning-ilmoitukset</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit velit quibusdam error mollitia recusandae odio soluta minus culpa esse numquam quasi accusamus eveniet, repudiandae omnis consectetur nisi sint doloribus aperiam. Eius minima velit tenetur, error nostrum aspernatur asperiores debitis quam vitae doloremque quas ea.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut explicabo distinctio asperiores doloremque nesciunt eveniet? Commodi illo veniam, beatae magnam dolore maiores illum explicabo enim, rem nam quidem quibusdam sapiente. Fugit maiores necessitatibus amet!</p>
        <hr>
        <div class= "success-and-alert">

            <div class="row">
                <div class="col-6">
                    <div class="app-success">  
                        <h4>Success-ilmoitus</h4>
                        <div class="alert alert-success" role="alert">
                            <div class="logo-and-title">
                                <fa-icon [icon]="faThumbsUp"></fa-icon>
                                <h3 class="alert-heading">Success</h3>
                            </div>
                            <hr>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam commodi id qui. Quas illum fuga modi, a deserunt velit omnis voluptatum aperiam quod? Distinctio, consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="app-warning-alert">
                        <h4>Warning-ilmoitus</h4>
                        <div class="alert alert-warning" role="alert">
                            <div class="logo-and-title">
                                <fa-icon [icon]="faSkullCrossbones"></fa-icon>
                                <h3 class="alert-heading">Warning</h3>
                            </div>
                            <hr>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, eligendi. Eum a distinctio rerum, minus nulla recusandae natus. Assumenda eius magni officia accusamus, dolore harum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-success></app-success>
</section>